<div class="search">
  <div class="row">
    <div class="col-xs-6">
      <%= label_tag 'names-search-txt',"Given or surname" %>
      <%= text_field_tag 'names-search-txt', '', class: "form-control input-sm", autofocus: true %>
    </div>	
  </div>	
  <%= hidden_field_tag 'names-search-uid', 'default' %>
  <div class="results" id="names-search-results"></div>
  <script> $(function() { new app.Names; }); </script>
</div>