<h1>Last names...</h1>

<% @surnames.each_with_index do |surname,index| %>
  <%= link_to( surname, names_path( surname: surname ) ) %> 
    <%= '|' if index < @surnames.count-1 %> 
<% end %>


<%= render partial: "footer" %>


