<h1>First names for <%= @surname %>... </h1>

<div id="names">
  <% @names.each_with_index do |name, index| %>
  
    <%= link_to name[:given], display_path( name[:uid] ) %>
    <%= '|' if index < @names.count-1 %> 
  
  <% end %>
</div>

<%= render partial: "footer" %>

