<h1>First names for <%= @surname %>... </h1>

<% @names.each_with_index do |name, index| %>
  
  <%= link_to name[:given], 
      display_path( name[:uid] ) %>
  <%= '|' if index < @names.count-1 %> 
  
<% end %>

<%= render partial: "footer" %>

