

<div class="row">
  <div class="col-xs-3">
  </div>
  <div id="geni-editcontainer" class="col-xs-6">
    <%= render partial: 'edit', locals: { individual: @individual } %> 
  </div>	
  <div class="col-xs-3">
  </div>      
</div>	


<%= render partial: "footer" %>