<center>
  <h1>Search</h1>
  <br>	
  <%= form_tag search_results_path do %>
    <div class="row">
      <div class="col-xs-5">
	  </div>
      <div class="col-xs-6">
	    <%= render partial: "search" %>
      </div>	
    </div>	
  <% end %>
</center>

<%= render partial: "footer" %>



