

<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    <%= render partial: 'source_edit', locals: { source: @source } %> 
  </div>	
  <div class="col-xs-3">
  </div>      
</div>	


<%= render partial: "footer" %>