<center class="treeview">
<table>
  <tr><td>&nbsp;</td>
  <td rowspan=2 valign=top style="padding:0px">	
    <%= render partial: "parents", locals: { individual: @individual, font: @font } %>
  </td>
  </tr>
  <tr><td style="padding:0px">
	<%= render partial: "individual_and_children", locals: { individual: @individual, font: @font } %>
  </td></tr>
</table>
</center>
<br>
<br>
<br>
<strong> <%= link_to 'Home', root_path %> </strong> <br>
