

  .books-search {
    
    .results {
      text-align: left;

      .ui-widget-content {
	    color: green;
        background: #fff;
        font-size: .9em;
        padding: .5em 0;
        border-color: #ddd;
        box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
        line-height: 1.2;
        max-height: 20em;
        overflow: hidden;
        overflow-y: auto;
      }

      .ui-menu-item {
	    color: red;	  
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        padding: .4em .6em .4em 2em;
        position: relative;
        border: 0;
        border-left: 5px solid transparent;
        position: relative;
        //height: 6.5em;

        .surname {
          display: block;
          color: #555;
        }

      }

      .ui-state-focus {
        background: #fff;
        border-left-color: #08c;
        font-weight: 300;

        .title {
          color: #08c;
        }

        .price,
        .author {
          color: #08c;
        }
      }
    }
  }

  .books-list {
		    color: purple;  
    .book {
      padding-left: 12em;
      height: 13em;
      position: relative;
      line-height: 1.2;
    }

    .img {
      position: absolute;
      left: 0;
      width: 10em;

      img {
        max-width: 100%;
      }
    }

    .surname {

      font-size: 1.3em;
    }

    .author {
      color: #888;
      margin-bottom: .4em;
    }

    .details {
      color: #aaa;
      font-size: .9em;

      span {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
