
/*
 *  viewing the family tree...
 */
 

.geni-tree {
 
  width: 100%;
  
  .geni-clear {
    clear:both;
    height: 0px;
  }
    
  .geni-inner {
    overflow: hidden;
    white-space: nowrap;
  }
  .geni-inner>a {
    color: inherit;
  } 
  .geni-inner>a:hover {
    text-decoration: underline;
  } 
        
  .geni-row {
  
    .geni-combo {
      float: right; 
    }
    .geni-box {
      padding: 5px;
      border-collapse: collapse;
      display: block;
      text-align: right;
    
    }
    .geni-add {
      background-color: white;
      border: 2px solid rgb(240,173,78);
      color: white;
      border-radius: 50px;
    }
  
    .geni-male {
      background-color: rgb(217,237,247);
      border: 1px solid rgb(217,237,247);
      color: rgb(49,112,143);
    }
    .geni-female {
      background-color: rgb(235,204,209);
      border: 1px solid rgb(235,204,209);
      color: rgb(169,68,66);
    }
    .geni-union {
      background-color: rgb(214,233,198);
      border: 1px solid rgb(214,233,198);
      color: rgb(60,118,61);
    }  
    .geni-other {
      background-color: rgb(150,150,150);
      border: 1px solid rgb(150,150,150);
      color: white;
    }  
    .geni-linked {
      background-color: rgb(200,200,200);
      border: 1px solid rgb(200,200,200);
      color: white;
    }         
  
    .geni-top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .geni-both {
      @extend .geni-top;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;    
    }  
    .geni-bottom {
      background-color: rgb(255,255,255);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-width: 2px;
      color: rgb(50,50,50);
    }     

    .geni-1-top  {
      height: 40px;
      width: 200px;
      font-size: 15px;
      line-height: 15px;
    }    
    .geni-1-bottom {
      height: 40px;
      width: 200px;
      font-size: 15px;
      line-height: 15px;
    }
    .geni-2-top {
      height: 20px;
      width: 140px;
      font-size: 13px;
      line-height: 13px;
    }  
    .geni-2-bottom {
      height: 40px;
      width: 140px;
      font-size: 13px;
      line-height: 13px;
    }  
    .geni-3-top {
      height: 20px;
      width: 140px;
      font-size: 11px;
      line-height: 11px;
    }      
    .geni-3-bottom {
      height: 40px;
      width: 140px;
      font-size: 11px;
      line-height: 11px;
    }  
    .geni-N-top {
      height: 20px;
      width: 120px;
      font-size: 9px;
      line-height: 9px;
    }    
    .geni-1-union {
      height: 24px;
      width: 100px;
      font-size: 13px;
      line-height: 13px;
      float:right;
    }
    .geni-3-union {
      height: 20px;
      width: 80px;
      font-size: 11px;
      line-height: 11px;
      float:right;
    }      
    .geni-N-union {
      height: 20px;
      width: 80px;
      font-size: 9px;
      line-height: 9px;
      float:right;
    }    

  }

  /*
   *  the right side - parents 
   */
  .geni-parents {
    border-style: none none none solid; 
    border-color: orange orange orange grey; 
    border-width: 1px 1px 1px 2px;   
	margin: 5px 0px 5px 5px;
    .parentline {
      width: 100%;
      border-style: solid none none none; 
      border-color: grey grey grey grey; 
      border-width: 1px 1px 1px 2px; 
    }  
  }
 
  /*
   *  editing union and individual
   */ 
  #geni-editcontainer {
    position: fixed;
    left: 48%;
    top: 150px;
    z-index: 100; 
    margin: 5px;
  }  
  .editlink {
    color: rgb(169,68,66);    
    padding: 5px 0px 5px 0px ;
    margin: 0px;
    font-size: 10px;
    &:hover {
      color: red;
    }    
    &:visited {

    }  	  
  }
  #geni-graphcontainer {
    height: 500px; 
    width: 100%;
  }

}

.geni-search {
  .results {
    text-align: left;
	.ui-widget-content {
      padding: .5em 0;
      overflow: hidden;
      overflow-y: auto;
    }
    .ui-autocomplete {
      list-style-type: none;
    }
    .ui-menu-item {
	  margin: 0em 0em 0em 1em;
      padding: .2em .6em .2em .5em;   
      position: relative;
      border: 0;
      border-left: 5px solid transparent;
    }
    .ui-state-focus {
      border-left-color: grey;
    }
  }
}
.ui-helper-hidden-accessible { color: red;  }

